<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h2>Welcome, {{ request.user.username }}!</h2>

    <h3>Recommended Projects:</h3>
    <div class="row">
      {% for project in similar_projects %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Skills: {{ project.skills }}</li>
              <li class="list-group-item">Status: {{ project_status }}</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
